# SConstruct
*.dblite
__pycache__
*.pyc

# Visual Studio Cache
.vs/

# VSCode Cache
.vscode/

# Binaries
*.obj
*.so
*.dll
*.o
*.dylib
*.pdb
*.ilk
*.exe
*.os
*.out
.import/
obj/
libs/
x64/
x32/

# exist only for testing
test.gd

godot_remote_client/AssetsInSuperSecureAndUn1queF0lder/Textures/SVG/*.png
